* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Oleo Script Swash Caps", cursive;
  --font-size: 2rem;
}

.center {
  max-width: 90vw;
  margin: 0 auto;
}

.img {
  width: 30rem;
  object-fit: cover;
  border-radius: 5px;
}

.button {
  display: table;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #77c934;
  border-radius: 30px;
  background-color: #77c934;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2.2rem;
  margin-bottom: 2rem;
  transition: 0.1s linear;
}
.button:hover {
  background-color: #339933;
  border: 1px solid #339933;
  color: black;
}

/* navbar */
.navbar {
  height: 4.5rem;
  position: fixed;
  top: 20;
  left: 20;
  width: 100%;
  z-index: 5;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}

.nav-center {
  max-width: 900px;
  margin: 0 auto;
}
.icon {
  font-size: 1.5rem;
  border: 3px solid #339933;
  border-radius: 20px;
}

.icon span {
  color: #339933;
  letter-spacing: 1px;
}

.navbar-link {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
  color: #339933;
}
.nav-header {
  display: none;
}
@media screen and (max-width: 992px) {
  .icon {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .navbar-link {
    font-size: 1rem;
  }
  .navbar {
    height: 3rem;
  }
  .nav-center {
    margin: 0;
  }
  .navbar-link {
    display: none;
  }
  .nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
    color: #339933;
    transition: 0.5s linear;
    margin-right: 1rem;
    z-index: 101;
  }
  .nav-btn:hover {
    transform: scale(1.2);
  }
  .nav-header {
    display: block;
    background: transparent;
    background-color: transparent;
  }
}
/* end of navbar */

/* sidebar */
.sidebar {
  display: none;
}
@media screen and (max-width: 992px) {
  .sidebar {
    position: relative;
    display: block;
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: fixed;
    background-color: #d4edd8;
    height: 100%;
    width: 100%;
    transition: 0.2s linear;
  }
  .sidebar-section {
    display: grid;
    place-items: center;
  }
  .sidebar-title {
    margin-top: 1.5rem;
    font-size: 3rem;
    color: #1c5c1c;
  }

  .show-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 2.3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: 0.2s linear;
  }

  .close-btn:hover {
    transform: scale(1.2);
    color: red;
  }

  .sidebar-link {
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: #339933;
    transition: 0.2s linear;
  }
  .sidebar-link:hover {
    transform: scale(1.2);
  }

  .social-media-links .fa-facebook {
    color: blue;
  }
  .social-media-links .fa-instagram {
    color: orange;
  }
}
/* end of sidebar */

/*header*/
.header-section {
  height: 100vh;
  min-height: calc(100vh - 5rem);
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("./fotky/Header-image.png") center/cover no-repeat fixed;
  position: relative;
  overflow: hidden;
}

.header-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
}
.header-title h1,
h2 {
  letter-spacing: 5px;
  color: black;
  font-family: "Oleo Script Swash Caps", cursive;
}
.header-title h1 {
  line-height: 5rem;
  font-size: 5rem;
}

.top-line {
  margin-bottom: 0.5rem;
}
.line {
  height: 5px;
  width: 30rem;
  background-color: black;
}
.header-title h2 {
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .header-title h1 {
    line-height: 3rem;
    font-size: 3rem;
  }

  .top-line {
    margin-bottom: 0.3rem;
  }
  .line {
    height: 5px;
    width: 20rem;
    background-color: black;
  }
  .header-title h2 {
    font-size: 2rem;
  }
}

/*end of header*/

/* galeria section*/

.green-backround {
  background-color: #d4edd8;
  padding-bottom: 2rem;
}

.galeria-section img {
  display: block;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  transition: 0.5s linear;
}

.galeria-section img:hover {
  transform: scale(1.2);
}

.obrazok-galeria {
  position: relative;
}

.galeria-text {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  z-index: 2;
  color: #d4edd8;
}
.hide {
  display: none;
}

.galeria-section img:hover + .hide {
  display: block;
  color: #d4edd8;
  z-index: 3;
}

@media screen and (min-width: 992px) {
  .Galeria {
    max-width: 1250px;
    margin: 0 auto;
  }
  .galeria-section img {
    width: 17.5rem;
  }
  .galeria-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .img {
    width: 18rem;
  }
  .galeria-text {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    z-index: 2;
    color: #d4edd8;
  }
}
/* end of galeria section*/

/* about us section*/
.about-us {
  max-width: 1172px;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.title {
  padding: 2rem 0;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  letter-spacing: 2px;
}

.about-us-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about-us-img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.about-us-section {
  display: grid;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .img {
    max-height: 30rem;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  .about-us-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
  }
  .about-us-text {
    justify-items: center;
  }
}
/* end of abouut us section*/

/* kvetostanok */

.kvetostasnok-section {
  max-width: 1170px;
  margin: 0 auto;
}
.kvetostanok-section-text {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}
.kvetostanok-img {
  display: block;
  margin: 0 auto;
}
/* end of kvetostanok */

/* Co-ponukame */
.ponuka-sekcie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  max-width: 1170px;
  margin: 0 auto;
}
.ponuka-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.ponuka {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s linear;
}
.ponuka:hover {
  transform: scale(1.1);
}
.ponuka-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 3px;
}
.ponuka-title h3 {
  font-weight: 400;
}
.ponuka-text {
  padding: 0rem 1rem;
  letter-spacing: 0.5px;
}

/* end of Co-ponukame */

/*footer section*/
.footer-section {
  height: 20vh;
  background-color: #339933;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}
.footer-kontakt {
  padding: 0.5rem;
  padding-top: 2.5vh;
  line-height: 2rem;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-top: 1rem;
  transition: 1s linear;
}
.link:hover {
  background-color: transparent;
  color: blue;
  transform: scale(1.3);
}
.fa-instagram:hover {
  background-color: transparent;
  color: orange;
  transform: scale(1.3);
}
.copyright {
  padding-top: 1rem;
  font-size: 1rem;
}
@media screen and (max-width: 992px) {
  .footer-section {
    height: 25vh;
  }
}
/*end of footer section*/

/* ============================================ */
/* Galeria page */
.Galeria-page .title {
  padding-top: 5rem;
}
.Galeria-page {
  margin-bottom: 2rem;
}
/* end of Galeria page */
/* ============================================ */

/* ============================================ */
/* Co-ponukame page */

.kytice {
  padding-top: 3rem;
}

.co-ponukame-section {
  padding-bottom: 2rem;
  max-width: 1170px;
  margin: 0 auto;
}
.co-ponukame-text p {
  font-size: 1.5rem;
}
.co-ponukame-text img {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

/* end of Co-ponukame page */
/* ============================================ */

/* modal */ 

body{
  position: relative;
}
.modal{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-close{
  position: fixed;
  top: 2.5%;
  right: 2.55%;
  color: white;  
  size: 5rem;
  font-size: 3rem;
  border: none; 
  background-color: rgba(0, 0, 0, 0);
} 

#image-modal{
max-height: 50rem;
border-radius: 5px;
}

#close-btn-modal:hover {
  transition:  0.5s linear;
  transform: scale(1.2);
  color: red;
} 
  
.image-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.open{
  display: block;
}

.modal-text{
  position: fixed;
  /* top: 85%; */
  left: 45%; 
  color: white;
  
}



@media screen and (max-width: 700px) {
  #image-modal{
    max-height: 35rem;
    }
  }

@media screen and (max-width: 600px) {
  #image-modal{
    max-height: 25rem;

    }
}
/* end of modal */ 
